backend/__pycache__/
backend/password_config.json
backend/token.json
backend/credentials.json
backend/*.db
backend/backend.log
backend/downloads/
frontend/node_modules
.DS_Store
backend/.DS_Store
backend/finance
backend/finance
backend/finance.db